<div id="title">New Game Screen. Click "play" in any cell to make your first move. You will be X's</div>

<div id="board">
	<table>
		<tr>
			<td><%= opening_cells(0,0) %></td>
			<td id="middle_column"><%=opening_cells(0,1) %></td>
			<td><%= opening_cells(0,2) %></td>
		</tr>
		<tr id="middle_row">
			<td><%= opening_cells(1,0) %></td>
			<td id="middle_column"><%= opening_cells(1,1) %></td>
			<td><%= opening_cells(1,2) %></td>
		</tr>
		<tr>
			<td><%= opening_cells(2,0) %></td>
			<td id="middle_column"><%= opening_cells(2,1) %></td>
			<td><%= opening_cells(2,2) %></td>
		</tr>	
	</table>
</div>
